<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="applicationName" value="ESB.Components.PerformanceCloud" />
		<!--Development,Testing-->
		<!--<add key="environment" value="Development" />-->
		<add key="environment" value="Testing" />
		<add key="aspnet:UseLegacyFormsAuthenticationTicketCompatibility" value="true" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>